.background {
  background-color: #091133;
}

body {
  margin: 0px;
}

.image {
<<<<<<< HEAD
  width: 585px;
  height: 115px;
=======
  width: 500px;
  height: 281px;
>>>>>>> 829a5672931362b7274f3fe02ac3a064d5bee9fb
}

.splashtext {
  color: white;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: normal;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-loader {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
