@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: "Lato";
  src: url("/public/fonts/Lato-SemiBold.ttf");
  font-weight: 600;
}

body {
  margin: 0;
  line-height: normal;
}
