.contain {
  background-color: #091133;
}

.bg-image {
  margin: auto;
  display: block;
}

.login-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
