@import url("ProfileView.module.css");
.action,
.date-created,
.name,
.university {
  position: absolute;
  top: 278px;
  left: 1203px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.date-created,
.name,
.university {
  top: 277px;
  left: 991px;
}
.date-created,
.name {
  top: 278px;
  left: 777px;
}
.name {
  left: 571px;
}
.search,
.sort {
  border: 0;
  position: absolute;
}
.search {
  font-family: var(--font-poppins);
  font-size: 16px;
  background-color: #d5d3d3;
  top: 173px;
  left: 1085px;
  border-radius: var(--br-8xs);
  width: 231px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 7.999969482421875px 0 17px;
  box-sizing: border-box;
}
.sort {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  top: 178px;
  left: 1038px;
  width: 29px;
  height: 29px;
  background-image: url(/public/images/sort1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.graduate-list {
  position: absolute;
  top: 161px;
  left: 510px;
  font-size: 45px;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.child,
.div1 {
  position: relative;
}
.child {
  background-color: var(--color-gainsboro);
  width: 15px;
  height: 15px;
}
.child:hover {
  outline: 2px solid #3498db; /* Add a border to simulate highlighting on hover */
}
.div1 {
  font-weight: 500;
}
.div {
  position: absolute;
  top: 288px;
  left: 55px;
  width: 56px;
  gap: var(--gap-xs);
}
.div,
.div10,
.div2,
.div4,
.div6,
.div8,
.rectangle-parent {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div2 {
  position: absolute;
  top: 263px;
  left: 55px;
  width: 56px;
  gap: var(--gap-xs);
}
.div10,
.div4,
.div6,
.div8,
.rectangle-parent {
  width: 59px;
}
.rectangle-parent {
  gap: var(--gap-xs);
}
.div10,
.div4,
.div6,
.div8 {
  position: absolute;
  top: 238px;
  left: 55px;
}
.div10,
.div6,
.div8 {
  top: 213px;
  width: 55px;
  gap: var(--gap-xs);
}
.div10,
.div8 {
  top: 188px;
  width: 58px;
}
.div10 {
  top: 163px;
  width: 59px;
}
.date-graduated {
  position: absolute;
  top: 135px;
  left: 54px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.filters2 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
}
.college-department-dropdown {
  position: absolute;
  border-radius: var(--br-8xs);
  height: 30px;
}
.filters1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: rgba(9, 17, 51, 0.99);
  position: absolute;
  top: 66px;
  left: 51px;
  border-radius: var(--br-8xs);
  width: 90px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filters1:hover {
  outline: 2px solid #3498db; /* Add a border to simulate highlighting on hover */
}
.filters {
  position: fixed;
  top: 80px;
  left: 100px;
  width: 362px;
  height: 944px;
  overflow: hidden;
  font-size: var(--font-size-smi);
}
.college-department-dropdown {
  top: 457px;
  left: 54px;
  background-color: var(--color-gainsboro);
  width: 256px;
}
.college-department {
  position: absolute;
  top: 430px;
  left: 54px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.university-dropdown {
  position: absolute;
  top: 373px;
  left: 54px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 256px;
  height: 30px;
}
.university1 {
  position: absolute;
  top: 346px;
  left: 54px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.account-icon {
  height: 96.84%;
  width: 100%;
  top: 1.58%;
  right: 0;
  bottom: 1.58%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.account,
.account-icon,
.university-icon1 {
  position: absolute;
}
.account {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(100% - 65px);
  left: 18px;
  width: 38px;
  height: 38px;
}
.university-icon1 {
  height: 87.63%;
  width: 93.68%;
  top: 6.32%;
  right: 3.16%;
  bottom: 6.05%;
  left: 3.16%;
  max-width: 100%;
  max-height: 100%;
}
.university-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 402px;
  left: 18px;
  width: 38px;
  height: 38px;
}
.roles-and-permissions1 {
  position: absolute;
  height: 84.47%;
  width: 82.11%;
  top: 9.47%;
  right: 3.16%;
  bottom: 6.05%;
  left: 14.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.roles-and-permissions {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 314px;
  left: 16px;
  width: 38px;
  height: 38px;
}
.users-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.admin-list-icon,
.users-icon,
.users-icon1 {
  position: absolute;
}
.users-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 229px;
  left: 17px;
  width: 38px;
  height: 35px;
}
.admin-list-icon {
  height: 87.63%;
  width: 75%;
  top: 4.21%;
  right: 8.42%;
  bottom: 8.16%;
  left: 16.58%;
  max-width: 100%;
  max-height: 100%;
}
.admin-list {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 141px;
  left: 17px;
  width: 38px;
  height: 38px;
}
.admin-list,
.home-icon,
.sidebar {
  position: absolute;
}
.sidebar {
  top: 80px;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 75px;
  height: calc(100vh - 80px);
  position: fixed;
  transition: width 0.3s;
}
.sidebar.expanded {
  width: 200px;
}
.account,
.university-icon,
.roles-and-permissions,
.users-icon,
.admin-list,
.home-icon {
  position: absolute;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.sidebar-text {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  width: 100px;
  text-align: left;
}
.home-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 54.2px;
  left: 16px;
  width: 41px;
  height: 32.6px;
}
.vector-icon {
  position: relative;
  width: 194.8px;
  height: 37.9px;
}
.vector-icon1 {
  position: absolute;
  height: 54.22%;
  width: 50.89%;
  top: 34.22%;
  right: 23.33%;
  bottom: 11.56%;
  left: 25.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.universecity {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12xs) 0 0;
  background-color: transparent;
  width: 196px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
}
.notification-bell {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  flex-shrink: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #091133;
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 21px;
  box-sizing: border-box;
}
.search-icon {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9.5px);
  width: 18.5px;
  height: 18.5px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 182.5px;
  left: 1291px;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.graduate-list {
  position: absolute;
  overflow: hidden;
  text-align: left;
  font-size: 45px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1px) {
  .profileView {
    position: relative;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
}
.white-background {
  background-color: white;
}
