/* WorkHistory.css */

/* Blue container for all work history */
.work-history-container {
  width: 450px;
  height: 575px;
  max-height: 100%;
  background-color: #bed7f1;
  padding: 16px;
  margin: 16px;
  border: 1px solid #091133;
  border-radius: 8px;
  position: relative;
  overflow-y: hidden; /* Hide the scrollbar here */
  margin-right: 20px;
  padding-bottom: 50px;
}

.work-history-item-contain {
  margin-top: 50px;
  max-height: calc(
    100% - 30px
  ); /* Adjust the max height to exclude the button's height */
  overflow-y: auto; /* Apply the scrollbar here */
}

/* "+ Work History" button */
.add-work-history-button {
  background-color: #091133;
  margin-top: 8px;
  margin-right: 5px;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 15px; /* Adjust the top position to avoid overlapping */
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.work-history-item {
  height: 120px;
  background-color: #fff;
  padding: 16px;
  margin-top: 16px;
  border: 1px solid #bed7f1;
  border-radius: 8px;
  cursor: pointer;
}

.work-history-item:hover {
  background-color: #acacac;
}

.work-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 12px;
  color: red;
  margin-top: 2px;
}

.date {
  font-size: 12px;
}

.work-description {
  margin-top: 2px;
}

h3 {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}
